.layout {
  min-height: 100vh;
}

.header {
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid #e8e8e8;
}

.contentLayout {
  display: flex;
}

.sidebar {
  background: #fff;
}

.content {
  margin: 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
  overflow: auto;
}
